services:
  polymarket-smart-trading-bot:
    image: polymarket-smart-trading-bot:1.0.1
    restart: unless-stopped
    environment:
      - NODE_ENV=${NODE_ENV}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_AUTH_SOURCE=${DB_AUTH_SOURCE}
      - DB_PROTOCOL=${DB_PROTOCOL}
      - DB_USE_CA=${DB_USE_CA}
      - PORT=${PORT}
      - PRIVATE_KEY=${PRIVATE_KEY}
      - PROXY_WALLET=${PROXY_WALLET}
      - MAX_PURCHASE_SHARE_PRICE=${MAX_PURCHASE_SHARE_PRICE}
      - MAX_AMOUNT_TO_SPEND=${MAX_AMOUNT_TO_SPEND}
    ports:
      - "${PORT}:${PORT}"

  mongo:
    image: mongo:latest
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${DB_PASSWORD}
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: